/*
Theme Name: Bootstrap Starter Child
Theme URL: http://www.upb.edu
Description: Bootstrap Starter Child
Author: Pedro Murillo
Author URL: http://lugubria.net
Template: wp-bootstrap-starter
Version: 1.0.0
Text Domain: wp-bootstrap-starter-child
*/


/* import default parent styles */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:300,300i,400,400i,500,500i,700&amp;q1omzk");


body {
    background-color: #ffffff;
}

header#masthead {
    padding: 0;
}

.site-header {
    background-color: #ffffff !important;
}

/* change the background color */
.navbar {
    /*background-color: #fff1d4;*/
}
/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar .navbar-nav .nav-link {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 12px !important;
    font-weight: 700 !important;
    font-style: normal;
    text-transform: uppercase;
    color: #080530 !important;
    padding: 5px 10px !important;
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: #333 !important;
    /*font-weight: normal !important;*/
}
.site-title{
    font-size: 1.2rem !important;
}

.site-title:hover{
    color: #D3F9FF !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    /*color: #fff;*/
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
}

.btn-link-cine{
    padding: 0.2rem 0.2rem;
    font-size: 0.85em;
    font-weight: 400;
    color: #3f3b87 !important;
}

.btn-link-cine:hover{
    color: #D7BB25 !important;
    text-decoration: none;
}

h4{
    color: #fff;
}

.entry-title span{
    font-size: 0.9rem !important;
}

.hr_cineboliviano{
    /*background-color: #DCE0E6;*/
    border-top: 2px dashed #DCE0E6;
    margin-bottom: 0.2rem;
    margin-top: 0.1rem;

}

.hr_cineboliviano_azul{
    /*background-color: #DCE0E6;*/
    border-top: 1px solid #080530;
    margin-bottom: 0.2rem;
    margin-top: 0.1rem;

}

.ficha_tecnica div h6{
    color: #959389;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 0.3rem;
}

.cb_sinopsis h4{
    color: #1164a8;
    padding-top: 0.3rem;
}

.cb_sinopsis p{
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
}

.cb_casa_productora{
    text-align: center;
}

.cb_casa_productora h4{
    color: #959389;
    font-size: 1.2rem;
    padding: 1px 1px;
    margin: 1px 1px;
}

.cb_archive_movie h4{
    color: #1164a8;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1px 1px;
    margin: 1px 1px;
}

.cb_archive_movie p{
    color: #1164a8;
    margin-bottom: 4px;
    text-align: justify;
    text-justify: inter-word;
}

.cb_archive_movie p b{
    /*color: #fff;*/
}
.post-thumbnail{
    background-color: #F9F7EA;
    text-align: center;
}


/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:right; /* Pagination float direction */
}
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#fff; /* Pagination text color */
    background: #555; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.pagination a:hover{
    color:#fff;
    background: #08072A; /* Pagination background on hover */
}
.pagination .current{
    padding:6px 9px 5px 9px;
    background: #08072A; /* Current page background */
    color:#fff;
}

#searchform button{
    background-color: transparent;
    border: none;
    color: #3f3b87;
}

#searchform div {
    margin-right: 1px !important;
}

#searchform div input {
    background-color: transparent;
    border: 1px solid #3f3b87;
}

#searchform div input:focus {
    border-bottom: 1px solid #fbd518;
    box-shadow: none;
}

#searchform div input::placeholder {
    color: white;
}

.entry-header-cine h1{
    /*background-color: #567EBB;*/
}

.entry-header-cine .entry-title{
    /*padding: 15px 10px;*/
    font-size: 2.2rem;
    color: #3f3b87;
    margin-bottom: 0;
    font-weight: 700;
}

.entry-header-cine .entry-title span{
    font-size: 1.4rem !important;
}

.ficha_tecnica h4{
    color: #3f3b87;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 3px;
    padding: 6px 4px;
    /*text-align: center;*/
}

.ficha_tecnica h6{
    color: #3f3b87 !important;
    font-size: 1em;
    font-weight: 100 !important;
    margin-bottom: 3px;
}

.ficha_tecnica p{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 4px;
}

.ficha_tecnica p span{
    font-weight: bold;
}

.title-cine-dato {
    color: #959389;
    font-size: 1.1rem;
}

.p-cine-dato {
    color: #080530;
}

.site-title-cine {
    color: #ffffff;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.site-title-cine:hover {
    color: #D3F9FF;
    text-decoration: none;
}

#menu-principal li form{display:none;}

.carousel-cine-title {
    font-size: 2rem;
    font-weight: 700;
    color: #3f3b87;
    text-shadow: 1px 1px 1px #ffffff;
}

.cine-title-sub {
    font-size: 1rem;
    font-weight: 400;
}

.cine-popup-nombre {
    color: black;
    font-weight: 700;
    font-size: 0.95rem;
}

.cine-popup-resumen {
    color: black;
    font-size: 0.75rem;
    text-align: justify;
    text-align-last: left;
}

.nav-footer-bestiario li {
    display:inline-block;
    margin-left:15px;
    padding-bottom: 15px;
}

.nav-footer-bestiario li a {
    color: #000 !important;
}

.bestiario-footer-texts p{
    margin-bottom: 3px;
    color: #1C2624;
}

.btn-outline-upb-blue {
    background-color:#3f3b87;
    color:#ffffff;
/*    text-shadow: 1px 1px 1px #ffffff;*/
    border-color:#3f3b87;
}

.btn-outline-upb-blue:hover, 
.btn-outline-upb-blue:active,
.btn-outline-upb-blue:focus,
.btn-outline-upb-blue:visited{
    color: #fbd518 !important;
/*    background-color: #42A5F5 !important;*/
    border-color: #fbd518 !important;
/*    background-image: none !important;*/
/*    border: 0 !important;*/
}
